.synth{
    background-color: black;
    color: grey;
    padding: 5px;
    flex: 1;
}

.synthHead{
  display: flex;
  justify-content: center;
  color: grey;
}
h3{
  display: flex;
  justify-content: center;
  color:grey ;
  font-size: 20px;
}
.synth1,
.synth2{
  display: block;
  border: #5b0f5b;
  border-radius: 10px;
  border-style:double;
  padding-bottom: 20px;
}


.piano{
    display: flex;
}

.pianoKeys{
    width: 40px;
    height: 150px; 
    margin-right: 4px; 
    background: #fff; 
    border: 1px solid #000; 
    border-radius: 4px; 
    font-size: 0.7rem; 
    cursor: pointer;
}



.synthTrackContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}


.chooseKey{
  display:flex;
  justify-content: center;
  align-items:center;
}

.chooseB{
  padding: 0.75rem;
  border: 1px solid #5b0f5b;
  background-color:#6b6b6b;
  color: #5b0f5b;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  
}


.synthFader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1rem;
}

.volumeSlider {
  transform: rotate(-90deg);
  width: 100px;             
  height: 20px;              
  margin-bottom: 3rem;
}


.meterContainer {
  width: 15px;
  height: 150px;
  background-color: #222;
  position: relative;
  border: 1px solid #444;
}

.meterFill {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #0f0;
}