.synth{
    background-color: rgb(252, 252, 246);
}

.piano{
    display: flex;
}

.pianoKeys{
    width: 40px;
    height: 150px; 
    margin-right: 4px; 
    background: #fff; 
    border: 1px solid #000; 
    border-radius: 4px; 
    font-size: 0.7rem; 
    cursor: pointer;
}



.synthTrackContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

/* Wrap all controls and keyboard inside this */
.synth {
  flex: 1;
}

/* Fader styles */
.synthFader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1rem;
}

.volumeSlider {
  transform: rotate(-90deg); /* rotate to make vertical */
  width: 100px;              /* horizontal length becomes vertical height visually */
  height: 20px;              /* thickness of the slider */
  margin-bottom: 3rem;
}

/* Meter styles */
.meterContainer {
  width: 15px;
  height: 150px;
  background-color: #222;
  position: relative;
  border: 1px solid #444;
}

.meterFill {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #0f0;
  /*transition: height 0.1s ease-out; */
}